* {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
      
}

.row {
    display: flex;
    flex-direction: column;
}

body {
    background-color:#313335;
}


header {
    width: 100%;
    height: 100vh;
    background-image: url(img/header_fonddesert.jpg);
    background-repeat: no-repeat;
}

section {
    width: 100%;
    height: 80vh;
}



/* Définition de la grille  */
.col-1 { width: 8.33%;}
.col-2 { width: 16.66%;}
.col-3 { width: 25%;}
.col-4 { width: 33.33%;}
.col-5 { width: 41.66%;}
.col-6 { width: 50%;}
.col-7 { width: 58.33%;}
.col-8 { width: 66.66%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33%;}
.col-11 { width: 91.66%;}
.col-12 { width: 100%; }

.container {
    /* border: 3px solid red; */
    position: sticky;
    
}

/* .container h1 {
    border: 2px solid red;
    align-self: center;
    display: block;
    width: 100%;    
}  */


.container img {
    width: 150px; 
    height: 150px;
    margin-left: -15px; 
}

.container p {
    align-self: center;
    margin-left: -30px;
       
}

.container p #berte {
    color: white;
    font-size: xx-large;
}

.container p {
    color: whitesmoke;
}

.container p span {
    color: grey;
}

/* Menu - Navigation */

.menu {
    display: none;
}

#menu:target {
    display: block

}

.hamburger {
    position: fixed;
    right: 0;
    top: 50px;
    width: 32px;
    padding: 0 4px 8px 4px;
    margin: 0;
     
}

.hamburger span {
    display: block;
    width: 100%;
    height: 10px;
    border-bottom: 3px solid blanchedalmond;  
}

.menu .submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    list-style-type: none;
    background-color:#313335;
    padding: 0;
    margin: 0;
    top: -10px;
    width: 100%;
    height: 100vh;
    margin-top: 3px;
    border: 2px solid blanchedalmond;
    box-shadow: 10px 5px 5px blanchedalmond;
    
}

.menu ul #fermer {
    border: 2px outset orangered;
    box-shadow: 10px 5px 5px orangered;
    display: block;
    align-self: flex-end;
    width: 60px;
    background-color: orangered;
    
}

.menu ul li {
    text-align: center;
    
}

.menu ul li a:first-child {
    display: block;
    text-decoration: none;
    color: blanchedalmond;
    padding: 1em; 
}

.menu ul li:nth-child(2) a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.menu ul li a:hover {
    background-color: cornflowerblue;
}



 
.menu ul li .competences {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 1em;

    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
    
    height: 50%;
    width: 100%;
    
}

.menu ul li .competences .details {
    position: relative;
    /* height: 100%; */
    width: 33.33%;
    display: block;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    height: 100%;
    padding-bottom: 0;
    border-right: 1.5px solid blanchedalmond;
}

.menu ul li .competences .details a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0px;
    color:blanchedalmond;
    
    
    /* position: relative; */
    
    
}

.menu ul li .competences .details a:hover {
    background-color: yellow;
    color: black;
}



.slide {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; 
    color: white;
    

}

#text {
    padding: 1em;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    font-size: 1em;
    text-align: center;
    margin: auto 1em;
    
}

/* contenu home page - après header - */

.bloc {
    width: 100%;
    
}

.contenu #profil {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 50px;
}

.contenu h1 {
    color: grey;
    margin-top: 3em;
    text-align: center;
    font-size: 1.5em;
}

.contenu hr {
    margin-left:auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contenu2 h2 {
    text-align: center;
    color: gray;
    margin-bottom: 1em;
}

.bloc2 .contenu2 p {
    font-size: 0.75em;
    text-align: left;
    margin left: auto;
    padding-left: 1em;
    padding-right: 1em;
    
}

/*  DEBUT : Barre de progresseion */

#progress1 {
    background: cornflowerblue;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
    
      
}

#progress1:after {
    content: '';
    display: block;
    background: orange;
    width: 90%;
    height: 100%;
    border-radius: 9px;
   
}

#progress2 {
    background: cornflowerblue;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;   
}

#progress2:after {
    content: '';
    display: block;
    background: orange;
    width: 80%;
    height: 100%;
    border-radius: 9px;   
}

#progress3 {
    background: cornflowerblue;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;   
}

#progress3:after {
    content: '';
    display: block;
    background: orange;
    width: 88%;
    height: 100%;
    border-radius: 9px;   
}

#progress4 {
    background: cornflowerblue;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;   
}

#progress4:after {
    content: '';
    display: block;
    background: orange;
    width: 75%;
    height: 100%;
    border-radius: 9px;   
}
/* FIN : barre de progression */

.bloc2 {
    /* border: 3px solid blue; */
  
}

.contenu2 {
    /* border: 2px solid red; */
    width: 100%;
     
}


.bloc_progress {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    /* margin: auto; */
    align-items: center;
}

.bloc_progress p {
    color: grey;
    /* padding-left: 20px; */
    margin: 1em 0;
}

/* icons : homepage */

#icons {
    /* border: 2px solid red; */
    margin-top: 1em;
    padding: 1em;
    width: 90%;
    margin: auto;
}

#icons ul {
    list-style-type: none;
    padding: 0;
    /* border: 2px solid white; */
}

#icons ul li {
    text-align: center;
    padding: 0.5em;
}




@media screen and (min-width: 1024px) {
    .hamburger {
        display: none
    }

    #menu {
        display: block;
        position: absolute;
        width: 70%;
          
    }

    .big_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
    }
    .container {
        width: 30%;
        height: 100%;
        align-self: start;
    }

    .container2 {
        width: 70%;
        height: 100%;
        align-self: center;
        margin-top: -25px;
     
    }

    .menu .submenu {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 10%;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .menu .submenu li {
        width: 25%;
    }

    .menu .submenu li:first-child a {
        display: none;
        
    }

    .menu ul #fermer {
        display: none;
    }
    

    .menu ul li .competences {
        display: none;
    
    }

    .menu ul li:hover .competences {
        display: block;
        display: flex;
        flex-direction: column;
           
    }

    .bloc2 {
        display: flex;
        height: 100%;
        width: 80%;
        margin: auto;
         
    }

    .contenu2 {
        width: 50%;
        font-size: 1vw;
    }

    .contenu2 p {
        font-size: 1em;
        font-size: 1vw;
    }

    .bloc_progress {
        font-size: 1vw;
        width: 50%;
        align-self: center;
    }

    #icons {
        display: flex;
        justify-content: space-evenly;
        /* border: 2px solid blue; */
        margin-top: 1em;
        padding: 1em;
        width: 90%;
        margin: auto;
    }
    
    #icons ul {
        list-style-type: none;
        padding: 0;
        border: 2px solid white;
    }
    
    #icons ul li {
        text-align: center;
        padding: 0.5em;
    }



}

    
  

    



